#Pandas

In [1]:
import numpy as np

In [3]:
np.random.normal(60,5,(25))

array([58.10233068, 60.67216978, 61.87858306, 58.3658856 , 57.23895057,
       62.32328506, 57.9311219 , 60.31212559, 62.28377211, 56.13621881,
       64.59106483, 54.52400392, 62.00540623, 56.72674091, 59.01882355,
       60.98273742, 59.70174677, 58.20414673, 58.21210956, 59.44324036,
       57.89570305, 61.84323932, 62.84597414, 56.15773494, 58.93710007])

In [3]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\user\appdata\local\programs\python\python39\lib\site-packages (2.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python39\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\user\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.0.2)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 25.1.1 is available.
You should consider upgrading via the 'c:\Users\user\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [4]:
import pandas as pd

In [5]:
pd.__version__

'2.3.0+4.g1dfc98e16a'

In [6]:
df = pd.read_csv('../datas/iris.csv')

In [7]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.head() # 어떤 데이터가 있는지 미리 보는 용도

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [11]:
df.tail()

     sepal.length  sepal.width  petal.length  petal.width    variety
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
# Non-Null Count 보고 확인
# Dtype object이면 보통 문자열이나 날짜

In [16]:
# 통계량 확인!
df.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [17]:
df.describe().T

              count      mean       std  min  25%   50%  75%  max
sepal.length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
sepal.width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
petal.length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
petal.width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5

In [ ]:
# 슬라이싱
df.iloc[:, -1] # 모든 행의 제일 마지막 columns

0         Setosa
1         Setosa
2         Setosa
3         Setosa
4         Setosa
         ...
145    Virginica
146    Virginica
147    Virginica
148    Virginica
149    Virginica
Name: variety, Length: 150, dtype: object

In [21]:
df.iloc[:, :-1] # 마지막 column 제외하고 가져오기

     sepal.length  sepal.width  petal.length  petal.width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [8]:
df.columns

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

In [9]:
col = ['sepal.length','sepal.width','petal.length','petal.width']
df[col]

     sepal.length  sepal.width  petal.length  petal.width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [10]:
x = df[col]
y = df.iloc[:, :-1]

In [ ]:
# df.to_numpy를 권장한다고 함!
data = df.iloc[:, :-1].values  #numpy가 나옴
data, data.shape, type(data)

(array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 (150, 4),
 numpy.ndarray)

In [15]:
# 여기서 부터 시작!
(np.random.normal(0,1(150,4))).shape

<>:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
C:\Users\user\AppData\Local\Temp\ipykernel_8760\158514154.py:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  (np.random.normal(0,1(150,4))).shape
C:\Users\user\AppData\Local\Temp\ipykernel_8760\158514154.py:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  (np.random.normal(0,1(150,4))).shape
C:\Users\user\AppData\Local\Temp\ipykernel_8760\158514154.py:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  (np.random.normal(0,1(150,4))).shape
C:\Users\user\AppData\Local\Temp\ipykernel_8760\158514154.py:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  (np.random.normal(0,1(150,4))).shape

TypeError: 'int' object is not callable

# DATA Wrangling

### Serise 객체 : 인덱싱된 데이터의 1차원 배열

In [16]:
# 매우 중요한 인덱스! => 자세히 알아보기!
df.index

RangeIndex(start=0, stop=150, step=1)

In [18]:
y = df.iloc[:, -1]
y.shape, type(y)

((150,), pandas.core.series.Series)

In [27]:
pd.Series([1,2,3,4])

0    1
1    2
2    3
3    4
dtype: int64

In [28]:
d = {
    'a': 1,
    'b': 2,
    'c': 3
}

pd.Series(d)

a    1
b    2
c    3
dtype: int64

In [29]:
pd.Series([1,2,3,4], index=['a','b','c','d'])

a    1
b    2
c    3
d    4
dtype: int64

In [34]:
df = pd.DataFrame({'d1':d, 'd2':d})

In [35]:
df.index

Index(['a', 'b', 'c'], dtype='object')

In [36]:
df.columns

Index(['d1', 'd2'], dtype='object')

In [37]:
df.head()

   d1  d2
a   1   1
b   2   2
c   3   3

In [38]:
df = pd.read_csv('https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [ ]:
idx = pd.Index([1,2,3,4]) # 인덱스는 불변의 배열!
idx

Index([1, 2, 3, 4], dtype='int64')

In [45]:
idx[3], idx[-1], idx[1:3]

(np.int64(4), np.int64(4), Index([2, 3], dtype='int64'))

In [ ]:
idx.shape, idx.dtype # 프로그래밍 시 인덱스를 파괴하지 않고 유지하는 것이 핵심!

((4,), dtype('int64'))

In [48]:
idx[1] = 999 # 인덱스는 불변!

TypeError: Index does not support mutable operations

In [ ]:
idx1 = pd.Index([1,3,5,7,9])
idx2 = pd.Index([2,3,5,7,11])

idx1.intersection(idx2)

Index([5, 7], dtype='int64')

In [56]:
idx1.union(idx2) # Union

Index([1, 2, 3, 5, 5, 7, 9, 11], dtype='int64')

In [68]:
df = pd.read_csv('https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [69]:
col1 = df['sepal.length']
col2 = df['sepal.width']
type(col1), col1

(pandas.core.series.Series,
 0      5.1
 1      4.9
 2      4.7
 3      4.6
 4      5.0
       ...
 145    6.7
 146    6.3
 147    6.5
 148    6.2
 149    5.9
 Name: sepal.length, Length: 150, dtype: float64)

In [70]:
pd.DataFrame({'sepal.length':col1, 'sepal.width':col2})

     sepal.length  sepal.width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

In [71]:
df.columns

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

In [72]:
df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'variety']
df.head()

   sepal_length  sepal_width  petal_length  petal_width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [ ]:
# 컬럼 추가
# 가공 컬럼, 새로운 컬럼
df['aaa'] = df['sepal_length'] - df['sepal_width']
df.head()

   sepal_length  sepal_width  petal_length  petal_width variety  aaa
0           5.1          3.5           1.4          0.2  Setosa  1.6
1           4.9          3.0           1.4          0.2  Setosa  1.9
2           4.7          3.2           1.3          0.2  Setosa  1.5
3           4.6          3.1           1.5          0.2  Setosa  1.5
4           5.0          3.6           1.4          0.2  Setosa  1.4

In [78]:
df.sepal_length

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [77]:
col = ['sepal_length', 'sepal_width']
df[['sepal_length','sepal_width']], df[col]  # 마스크 스타일

(     sepal_length  sepal_width
 0             5.1          3.5
 1             4.9          3.0
 2             4.7          3.2
 3             4.6          3.1
 4             5.0          3.6
 ..            ...          ...
 145           6.7          3.0
 146           6.3          2.5
 147           6.5          3.0
 148           6.2          3.4
 149           5.9          3.0

 [150 rows x 2 columns],
      sepal_length  sepal_width
 0             5.1          3.5
 1             4.9          3.0
 2             4.7          3.2
 3             4.6          3.1
 4             5.0          3.6
 ..            ...          ...
 145           6.7          3.0
 146           6.3          2.5
 147           6.5          3.0
 148           6.2          3.4
 149           5.9          3.0

 [150 rows x 2 columns])

In [82]:
df.iloc[:20, :4] # row 20개까지(0~19), col은 4개까지(0~3)

    sepal_length  sepal_width  petal_length  petal_width
0            5.1          3.5           1.4          0.2
1            4.9          3.0           1.4          0.2
2            4.7          3.2           1.3          0.2
3            4.6          3.1           1.5          0.2
4            5.0          3.6           1.4          0.2
5            5.4          3.9           1.7          0.4
6            4.6          3.4           1.4          0.3
7            5.0          3.4           1.5          0.2
8            4.4          2.9           1.4          0.2
9            4.9          3.1           1.5          0.1
10           5.4          3.7           1.5          0.2
11           4.8          3.4           1.6          0.2
12           4.8          3.0           1.4          0.1
13           4.3          3.0           1.1          0.1
14           5.8          4.0           1.2          0.2
15           5.7          4.4           1.5          0.4
16           5.4          3.9           1.3          0.4
17           5.1          3.5           1.4          0.3
18           5.7          3.8           1.7          0.3
19           5.1          3.8           1.5          0.3

In [97]:
df.iloc[:, 'sepal_length']

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [ ]:
df.iloc[:, ['sepal_length':'petal_length']]

In [ ]:
df.iloc[:,[0:3]]

In [ ]:
df.iloc[:, ['sepal_length':'petal_length']] # column명으로 찾는 것은 포함

In [93]:
df[:1]

   sepal_length  sepal_width  petal_length  petal_width variety  aaa
0           5.1          3.5           1.4          0.2  Setosa  1.6

In [ ]:
mask = df.sepal_length > 5 # mask = df['sepal_length'] > 5  속성이 아니라 column이름이라는것!
df[mask]

     sepal_length  sepal_width  petal_length  petal_width    variety  aaa
0             5.1          3.5           1.4          0.2     Setosa  1.6
5             5.4          3.9           1.7          0.4     Setosa  1.5
10            5.4          3.7           1.5          0.2     Setosa  1.7
14            5.8          4.0           1.2          0.2     Setosa  1.8
15            5.7          4.4           1.5          0.4     Setosa  1.3
..            ...          ...           ...          ...        ...  ...
145           6.7          3.0           5.2          2.3  Virginica  3.7
146           6.3          2.5           5.0          1.9  Virginica  3.8
147           6.5          3.0           5.2          2.0  Virginica  3.5
148           6.2          3.4           5.4          2.3  Virginica  2.8
149           5.9          3.0           5.1          1.8  Virginica  2.9

[118 rows x 6 columns]

In [95]:
df.iloc[:, [0:3]]

SyntaxError: invalid syntax (481185409.py, line 1)

In [96]:
df[:1]

   sepal_length  sepal_width  petal_length  petal_width variety  aaa
0           5.1          3.5           1.4          0.2  Setosa  1.6

In [99]:
df['sepal_length'] + 1

0      6.1
1      5.9
2      5.7
3      5.6
4      6.0
      ...
145    7.7
146    7.3
147    7.5
148    7.2
149    6.9
Name: sepal_length, Length: 150, dtype: float64

In [ ]:
# 데이터 처리하면서 새로운 파일로 저장하면서 작업!
df.to_csv('../datas/aaa.csv')

In [ ]:
new_df = df.iloc[:, :4].copy() # 카피 안하면 참조가 되어버림 주의!

In [102]:
new_df.shape, new_df.head()

((150, 4),
    sepal_length  sepal_width  petal_length  petal_width
 0           5.1          3.5           1.4          0.2
 1           4.9          3.0           1.4          0.2
 2           4.7          3.2           1.3          0.2
 3           4.6          3.1           1.5          0.2
 4           5.0          3.6           1.4          0.2)

In [104]:
np.exp(new_df) / 4 # pandas, numpy 같이 쓸 수 있다는 것!! -> 더 찾아보기

     sepal_length  sepal_width  petal_length  petal_width
0       41.005477     8.278863      1.013800     0.305351
1       33.572445     5.021384      1.013800     0.305351
2       27.486793     6.133133      0.917324     0.305351
3       24.871079     5.549488      1.120422     0.305351
4       37.103290     9.149559      1.013800     0.305351
..            ...          ...           ...          ...
145    203.101456     5.021384     45.318060     2.493546
146    136.142978     3.045623     37.103290     1.671474
147    166.285408     5.021384     45.318060     1.847264
148    123.187260     7.491025     55.351604     2.493546
149     91.259367     5.021384     41.005477     1.512412

[150 rows x 4 columns]

In [105]:
new_df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [110]:
new_df['sepal_length'] / new_df['sepal_width']

0      1.457143
1      1.633333
2      1.468750
3      1.483871
4      1.388889
         ...
145    2.233333
146    2.520000
147    2.166667
148    1.823529
149    1.966667
Length: 150, dtype: float64

### 누락된 데이터

In [ ]:
new_df['sepal_length'][1:] / new_df['sepal_width'] # 요소수가 다른데 연산이 되었음! numpy에서는 안 되는데 pandas에서는 연산이 됨! Left outer join 같은? > 위험함> pandas는 인덱스를 기준으로

0           NaN
1      1.633333
2      1.468750
3      1.483871
4      1.388889
         ...
145    2.233333
146    2.520000
147    2.166667
148    1.823529
149    1.966667
Length: 150, dtype: float64

In [ ]:
new_df.isna()

     sepal_length  sepal_width  petal_length  petal_width
0           False        False         False        False
1           False        False         False        False
2           False        False         False        False
3           False        False         False        False
4           False        False         False        False
..            ...          ...           ...          ...
145         False        False         False        False
146         False        False         False        False
147         False        False         False        False
148         False        False         False        False
149         False        False         False        False

[150 rows x 4 columns]

In [ ]:
# null값의 개수 확인!!!!!
np.sum(new_df.isna()) # 체크 매우 중요한데, NaN이 아닌 'nan'으로 되어 있으면 못찾음

c:\Users\user\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\_core\fromnumeric.py:84: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
dtype: int64

In [ ]:
np.sum(new_df['sepal_length'][1:] / new_df['sepal_width']) # NaN을 처리해주네...?

np.float64(291.59498772309723)

In [ ]:
new_df['sepal_length'][1:].add(new_df['sepal_width'], fill_value=0)

0      3.5
1      7.9
2      7.9
3      7.7
4      8.6
      ...
145    9.7
146    8.8
147    9.5
148    9.6
149    8.9
Length: 150, dtype: float64

In [118]:
new_df['sepal_width'][3] = None

C:\Users\user\AppData\Local\Temp\ipykernel_4976\236970925.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  new_df['sepal_width'][3] = None

In [119]:
new_df['sepal_width']

0      3.5
1      3.0
2      3.2
3      NaN
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sepal_width, Length: 150, dtype: float64

In [123]:
new_df.isnull()

     sepal_length  sepal_width  petal_length  petal_width
0           False        False         False        False
1           False        False         False        False
2           False        False         False        False
3           False         True         False        False
4           False        False         False        False
..            ...          ...           ...          ...
145         False        False         False        False
146         False        False         False        False
147         False        False         False        False
148         False        False         False        False
149         False        False         False        False

[150 rows x 4 columns]

In [124]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   149 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

In [ ]:
new_df2 = new_df.dropna() # 사본을 반환하는데, inplace=True 키매개변수를 사용하면 원본이 변경된다. 그래서 위험하기 때문에 inplace매개변수 없이 사용
new_df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 149 entries, 0 to 149
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  149 non-null    float64
 1   sepal_width   149 non-null    float64
 2   petal_length  149 non-null    float64
 3   petal_width   149 non-null    float64
dtypes: float64(4)
memory usage: 5.8 KB

In [127]:
new_df.info() # 원본 변경 안됨, 재할당 하지만 않으면

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   149 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

In [ ]:
new_df.fillna(0)

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          0.0           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [ ]:
# 데이터 채워 넣는 방식들
# 평균에 영향을 주지 않으려면 평균값 넣으면 되고 등등
new_df.fillna()

In [ ]:
# read_csv 하면

In [121]:
df = pd.read_csv('../datas/iris.csv')
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB